.landing-title{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 4px solid rgb(0, 128, 255);
    text-align: center;
}
svg{color:rgb(0, 128, 255) ;}
svg.signup{color: white;}
svg.geo{color: green;}
button[disabled]{cursor: not-allowed;}